# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: PR Tests

on:
  pull_request:
    branches:
      - 'main'
      - epic/**

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63 # 19.1.0

  backend-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: './go.mod'
    - name: Backend Test
      run: |
        make generate-backend
        mkdir -p pkg/server/dist/session
        # A placeholder frontend code read from backend test
        echo '<!--INJECT GENERATED CODE HERE FROM BACKEND-->' > ./pkg/server/dist/index.html
        go test ./... -args -skip-cloud-logging=true
    - name: Backend Format and Lint Check
      run: |
        make check-format-go
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        version: v2.7.1
        args: --config=.golangci.yaml
    - name: Prepare depguard config for golangci-lint
      run: make generate-depguard-rules
    - name: Check for diff in depguard config
      run: git diff --exit-code .generated-golangci-depguard.yaml
    - name: Run golangci-lint for depguard
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        version: v2.7.1
        args: --config=.generated-golangci-depguard.yaml --issues-exit-code=0 # This check is currently optional. Remove `--issues-exit-code=0` once issues are fixed.

  frontend-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: './.node-version'

    - name: Set up Go # Go dependency is needed for `make prepare-frontend`
      uses: actions/setup-go@v6
      with:
        go-version-file: './go.mod'

    - name: Install jq
      run: sudo apt-get update && sudo apt-get install -y jq

    - name: npm install
      working-directory: ./web
      run: npm ci

    - name: Generate frontend codes
      run: make prepare-frontend

    - name: Install Chrome for Angular Test
      uses: browser-actions/setup-chrome@c785b87e244131f27c9f19c1a33e2ead956ab7ce # 1.7.3
      with:
        chrome-version: stable

    - name: Angular Test
      run: make coverage-web

    - name: Frontend Format and Lint Check
      run: |
        make check-format-web
        make lint-web

  build-frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    strategy:
      matrix:
        configuration: [prod, dev]
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: './.node-version'

    - name: Set up Go # Go dependency is needed for `make prepare-frontend`
      uses: actions/setup-go@v6
      with:
        go-version-file: './go.mod'

    - name: npm install
      working-directory: ./web
      run: npm ci

    - name: Generate frontend codes
      run: make prepare-frontend

    - name: Build web
      working-directory: ./web
      run: npx ng build --configuration ${{ matrix.configuration }}
  build-binaries:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: './go.mod'
    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: './.node-version'
    - name: npm install
      working-directory: ./web
      run: npm ci
    - name: Build binary
      run: make build-go-binaries

  license-header-check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: './go.mod'

      - name: Install addlicense package
        run: go mod download

      - name: Run addlicense
        id: license_header_check
        run: go tool addlicense  -c "Google LLC" -l apache -v -check .
